In [1]:
import pandas as pd
import numpy as np
import  sklearn.linear_model

In [2]:
df = pd.DataFrame([[1,2,3],[4,8,6],[8,8,9]])

In [3]:
df

   0  1  2
0  1  2  3
1  4  8  6
2  8  8  9

In [5]:
df.index.tolist()

[0, 1, 2]